name: Generate PAGE XML

on: 
  workflow_dispatch:
  # schedule:
    # * is a special character in YAML so you have to quote this string
    # - cron:  '05 00 * * *'

jobs:
  build_pages:
    name: Generate PAGE from METS
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # # added or changed files to the repository.
      contents: write
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '21'
    - name: Install Python Packages
      run: pip install -U -r pyscripts/requirements.txt
    - name: Generate XML-PAGE
      run: ./pyscripts/download_page.py
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Export and Transformation done
